
  body  {
  background-image: url("zerobackground.jpg");
       background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}
img {
  border-radius: 50%;
}
.center {
 float: center;
 padding: 0 0px 0 0;
  margin-top: 270px;
  margin-bottom: 10px;
  margin-left: 50px;
  margin-right: 225px;
  border: 5px solid hsl(0, 85%, 30%);

}
#mySidenav a {
  position: absolute;
  left: 40px;
  transition: 0.3s;
  padding: 15px;
  width: 100px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  border-radius: 0 5px 5px 0;
}

#mySidenav a:hover {
  left: 0;
}

#About {
  top: 20px;
  background-color: #4CAF50;
}

#Resume{
  top: 80px;
  background-color: #2196F3;
}

#Skills {
  top: 140px;
  background-color: #f44336;
}

#Contact{
  top: 200px;
  background-color: #555
}
/*My name in the middle*/
.container {
  position: relative;
  text-align: center;
  color: white;   
}

.topcentered {
  position: absolute;;
  margin-top: -550px;
  margin-bottom: 470px;
  margin-right: 250px;
  margin-left: 680px;
  transform: translate(-50%, -50%);
}



/*animated buttons*/
.glow {
  font-size: 50px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #1f1c1c, 0 0 20px hsl(120, 4%, 5%), 0 0 30px goldenrod, 0 0 40px goldenrod, 0 0 50px goldenrod, 0 0 60px goldenrod, 0 0 70px goldenrod;
    animation: glow .39s infinite alternate;
  }
  
  to {
    text-shadow: 0 0 20px black, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black, 0 0 80px black;
    animation: glow .39s infinite alternate;
  }
}


/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */

.line-1{
   
    top: 50%;
    width: 350em;
    margin: 0 auto; 
    border-right: 0px solid greenyellow;
    font-size: 180%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);
      
}
.line-2{
    text-align: left;
}
/* Animation */
.anim-typewriter{
  animation: typewriter 6s steps(44) 1s 1 normal both,
             blinkTextCursor 400ms steps(44) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 26.2em;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(217, 238, 25, 0.75);}
  to{border-right-color: transparent;}
}


.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: goldenrod;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px black;
  margin-left:16%;
}

.button:hover {background-color: black}

.button:active {
  background-color: black;
  box-shadow: 0 5px goldenrod;
  transform: translateY(4px);
}