{
  box-sizing: border-box;
}
.imageColumn {
  float: right;
  width: 75%;
  padding: 10px;
}
h1{
  text-align: center;
}





/*header 2-Jazzy*/
h1 {
    font-family: 'Architects Daughter';font-size: 22px;
    background-color: rgb(20, 20, 70);
    padding: 20px 10px;
text-align: center;
color:white;
}

/*Discography is aligned center*/
h2 {
    
    font-family: 'Roboto';font-size: 35px;
    
text-align: center;
color:black
}

/*Jazz Night and Blue Jazz Title*/

div.a {
  font-size: 30px;
  padding: 1px;
  font-family: 'Roboto';
  margin: 25px 20px 15px 15px;
    text-align: left;
    color: rgb(228, 207, 22);
}  

div.b {
  font-size: 30px;
  padding: 1px;
  margin: 25px 20px 15px 15px;
  font-family: 'Roboto';
    text-align: left;
    color: rgb(228, 207, 22);
}  

div.a image{
  float: right;
   
  
}


  div.a h3{
    position: relative;
    top: 18px;
    left: 10px;
    
  }

  div.color{
    font-size: 30px;
    color: rgb(241, 23, 23);
    
  }
  div.open{
    font-size: 20px;
    color: rgb(241, 23, 23);
    
  }

 .border{
     background-color:rgb(20, 20, 70);
     color: white;
     border: 2px snow;
     margin: 50px 100px;
     padding:25px 50px  ;
 }

 .border2{
    background-color:rgb(20, 20, 70);
    color: white;
    border: 2px snow;
    margin: 50px 100px ;
    padding:25px 50px;
}
.border3{
  background-color:rgb(20, 20, 70);
  color: white;
  border: 2px snow;
  margin: 50px 100px ;
  padding:25px 50px;
}


/*Images side by side*/
{
  box-sizing::content
}

.row {
  display:flex
}

/* Create five equal columns that sits next to each other */
.column {
  flex: 10%;
  padding: 2px 2px;
}
  
/*Text*/
.text{
    font-family: 'Roboto';font-size: 29px;
    text-align: left;
    color: white;
}

    
/*footer is fixed*/
footer{

    background:rgb(20, 20, 70);
    padding: 1px 1px;
    font-family: 'Architects Daughter';
      font-size: 22px;
      text-align: center;
}   
    